<div class="password-recovery-container">
    <h1>Auction Bazaar</h1>
    <nav>
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Contact</a>
     
    </nav>
    
    <div class="password-recovery-box">
      <h2>Password Recovery</h2>
      <form>
        <div class="input-group">
          <i class="fa fa-envelope"></i>
          <input type="email" placeholder="Enter Your Email"  />
        </div>
        <button type="submit">Recover Password</button>
      </form>
    </div>
  </div>

  