:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: (to right, #6A11CB, #8C0B8E, #7B0EAC); /* Background gradient */
    margin: 0;
  }
  
  
  .password-recovery-container {
    text-align: center;
    
  }
  
  .password-recovery-box {
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  
  .password-recovery-box h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: calc(100% - 20px); /* Adjust width to fit within padding */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #6A11CB;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #8C0B8E;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background:( #6A11CB, #8C0B8E, #7B0EAC); /* Background gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  
  