/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background:linear-gradient(#6A11CB, #8C0B8E, #7B0EAC); /* Background gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  